<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

</body>

</html>
<html>

<head>
    <title>Welcome to Our Platform</title>
</head>

<body>
    <h1>Hello {{htmlData.firstName}} {{htmlData.lastName}}</h1>
    <p>Welcome to FindTIX! We're excited to have you on board.</p>
    <Click href={{htmlData.href}}>Click Link</a>
</body> 

</html>